.menuBar{
    background-color: #a3dcff;
    color: white;
    font-weight: bold;}

.menuBarFile{
    background-color: #a3dcff;
    color: white;
    font-weight: bold;}

.menuInternoFile{
    background-color: #a3dcff;
    color: white;
    font-weight: bold;}